<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started?</h2>
      <p class="callout__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem vel
        praesentium doloremque molestias laborum id! Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Animi, cupiditate. Nobis eveniet fugit
        veniam soluta.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
